@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', "Noto Sans", sans-serif;
}

@layer base {
  :root {
    --background: 210 19% 10%;
    --foreground: 0 0% 98%;
    --card: 210 18% 13%;
    --card-foreground: 0 0% 98%;
    --popover: 210 19% 10%;
    --popover-foreground: 0 0% 98%;
    --primary: 262 39% 51%;
    --primary-foreground: 0 0% 98%;
    --secondary: 210 18% 21%;
    --secondary-foreground: 0 0% 98%;
    --muted: 210 18% 21%;
    --muted-foreground: 211 22% 71%;
    --accent: 176 49% 51%;
    --accent-foreground: 210 19% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 210 16% 30%;
    --input: 210 18% 21%;
    --ring: 176 49% 51%;
    --radius: 0.75rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
